<div
  class="w-screen flex flex-row sticky top-0 p-0 m-0  text-orange-300"
>
  <ul class="flex w-full flex-row justify-around">
    <li><a href="#proyect">proyect </a></li>
    <li><a href="#"> github</a></li>
    <li><a href="#">instagram</a></li>
    <li><a href="#">linkedin</a></li>
  </ul>
</div>
