---
import {SliderTwo} from "./sliderTwo.tsx"
---

<section class="w-screen min-h-screen flex flex-col items-center justify-center pt-4">
  <h1 id="proyect">
  <a href="https://nextjs-crypto-murex.vercel.app" target="_blank" class="text-4xl font-medium tracking-wide text-amber-300 font-mono"> Next js proyect </a>
  </h1>
  <h2 class="text-orange-600 italic text-sm my-2 "> full stack proyect </h2>
  <SliderTwo client:load />
  </section>

